# Turn On ReWrite Engine
RewriteEngine On

# Exclude url.php and index.php from redirecting
RewriteCond %{REQUEST_URI} !^/(index).php
RewriteCond %{REQUEST_URI} !/public
# Redirect to url.php
RewriteRule . index.php [NC,L]